{% block content %}

<style>

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .container{
        display:flex;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        height: 60%;
        width: 20%;
        justify-content: center;
        background-color:black;
        box-shadow: 2px 2px 6px 6px rgb(9, 27, 2);
        padding: 14px;
        justify-items: center;
    }

    input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;

}

    button {
    background-color: white;
    color: goldenrod;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

ul.errorlist, .help-text {
    display: none;
}

</style>










    {% if validlink %}
    <div class="container">
        <h3>Mudar senha</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Mudar Senha</button>
        </form>
        </div>
    {% else %}
    <p>
        O link para mudar a senha está invalido, provavelmente por que já foi usado antes.
        Por favor, peça outra link de recuperação de senha.
    </p>
    {% endif %}

{% endblock content %}